<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trombinoscope.Properties.Settings.TrombinoscopeConnectionString" connectionString="Data Source=127.0.0.1\sqlexpress;Initial Catalog=Trombinoscope;Persist Security Info=True;User ID=trombinoscope;Password=password" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
